.page-a-propos {
    background: #F5F5DC;
}

.container-qui-sommes-nous, 
.container-a-propos {
    padding: 20px;
}


.page-a-propos h2 {
    text-align: center;
    margin-bottom: 40px;
}

.container-qui-sommes-nous > div:nth-child(3) > p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    line-height: 1.6em;
}

.div-a-propos > p {
    width: 60%;
    text-align: center;
    line-height: 1.6em;
}

.div-qui-sommes-nous,
.div-a-propos {
    display: flex;
    justify-content: space-around;
}

.img-a-propos {
    width: 30%;
    height: 30%;
    align-self: center;
    min-width: 250px;
}

@media screen and (max-width: 850px) {
    .div-qui-sommes-nous {
        flex-wrap: wrap;
    }

    .img-a-propos {
        margin: 20px;
    }

    .div-a-propos {
        flex-direction: column;
        align-items: center;
    }

    .div-a-propos > p {
        width: 80%;
    }
}