/*//////////////// FORM /////////////////*/

.contact-container {
  margin: 30px 50px;
  font-family: 'Montserrat';
}

.contact-container > h2 {
  font-family: 'Raleway';
  text-align: center;
  color: #329797;
  margin: 30px 0;
}

.toggle-form-container {
  margin: 0 auto !important;
  width: 90% !important;
}

.toggle-form-item {
  width: 100% !important;
}

.toggle-form-container p {
  color: #329797;
}

.btn-toggle-booking {
  width: 50%;
}

.btn-toggle-booking:hover {
  box-shadow: 0px 0px 2px 1px #329797;
}


.Mui-selected {
  background-color: #329797 !important;
}

.Mui-selected p {
  color: #fff !important;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-contact {
  margin: 10px 0 !important;
  width: 90%;
}

.date-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-input {
  margin: 10px 0 !important;
  width: 90%;
}

.input-submit {
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px; 
  text-decoration: none;
  color: #fff;
  background-color: #329797;
  border: none;
  transition: box-shadow 0.2s;
}

.input-submit:hover {
  color: #329797;
  background-color: #fff;
  border-color: 4px #329797;
  box-shadow: 0px 0px 0px 4px #329797;
}

.input-submit:focus {
  outline: none;
  border: none;
}

/*//////////////// Localisation /////////////////*/

.find-us-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infos-container {
  padding: 20px;
}

.infos-container ul li {
  margin: 30px auto;
}

@media screen and (min-width: 600px) {

  .toggle-form-container {
    width: 60% !important;
  }

  .input-contact {
    width: 60%;
  }
  
  .date-picker {
    width: 60%;
  }

  .date-input {
    margin: 10px !important;
  }

  .find-us-container {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 850px) {

  .input-contact {
    width: 60%;
  }
  
  .date-picker {
    flex-direction: row;
    width: 60%;
  }

  .date-input {
    margin: 10px !important;
  }

  .find-us-container {
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
  }
}