/*//////////////// FORM /////////////////*/

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-contact {
    margin: 10px !important;
    width: 50%;
}

.input-submit {
    width: 10%;
    height: 30px;
    cursor: pointer;
}

.date-input {
    margin: 20px !important;
}

/*//////////////// Localisation /////////////////*/

.find-us-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .date-picker {
        display: flex;
        flex-direction: column;
    }
}
