footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #329797;
    display: flex;
    height: 120px;
}

.logo-footer {
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.nav-footer li {
  margin: 10px;
}

.footer-link-item {
    color: #fff;
    text-decoration: none;
}