.home-content {
  width: 80%;
  margin: 1.6em auto;
}

.home-title {
  top: 1.5em;
  margin-bottom: 1em;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 2em;
}

.catch-phrase {
  margin: 2em auto;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.2em;
  color: #0B1F3E
}

@media screen and (min-width: 850px) {
  .carousel.carousel-slider {
    max-height: 60vh;
  }

  .home-content {
    width: 60%;
    margin: 2em auto;
  }
}