.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container p {
  color: #F7F1E9
}

.toggle {
  margin: 10px;
  isolation: isolate;
  position: relative;
  height: 18px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #F7F1E9;;
  border: solid 2px #F7F1E9;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #329797;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

@media screen and (min-width: 850px) {
  .toggle-container {
    align-self: flex-end;
  }
}

/*///////////////////////////////////////*/

