/*//////////////// MAP /////////////////*/

.leaflet-container {
  width: 100%;
  height: 450px;
}

@media screen and (min-width: 600px) {
  .leaflet-container {
    width: 100%;
  }
}

@media screen and (min-width: 850px) {
  .leaflet-container {
    width: 100%;
  }
}