/*//////////////// MENU MOBILE ///////////////////////*/
.desktop-menu {
  display: none;
}

.nav-menu {
    display:flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f7f1e9ff;
    z-index: 100;
    transform: translateX(105%);
    transition: transform 0.4s ease-out;
    text-align: left;
} 

.nav-menu.open {
    transform: translateX(0);
}

.nav-menu .menuItems{
    margin-top: 150px;
    padding: 10%;
    color: #fff;
}

.nav-menu ul li {
    margin-top: 20px;
}

.nav-menu .menuItems li a {
    text-decoration: none;
    font-family: 'Raleway';
    color: #329797;
    font-weight: bold;
    font-size: 24px;
}

.closing-menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #329797;
    font-size: 36px;
}
/*////////////////////////////////////////////////////*/

/*/////////////// CONTACT BUTTON ////////////////////*/
.contact-button {
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px; 
  text-decoration: none;
  color: #f7f1e9ff;
  background-color: #329797;
  width: 150px; 
  border: none;
  padding: 0.5em;
  margin-top: 1em;
  transition: box-shadow 0.2s;
}
.contact-button:hover {
  color: #329797;
  background-color: #f7f1e9ff;
  border-color: 4px #329797;
  box-shadow: 0px 0px 0px 4px #329797;
}

.contact-button:focus {
  outline: none;
  border: none;
}
/*////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////*/
@media screen and (min-width: 850px) {

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Raleway';
      font-weight: 500;
    }
    
    .desktop-menu ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85px;
    }
    
    .desktop-menu ul li {
      padding: 0 1.5em; 
    }

    .desktop-menu ul li:last-child {
      padding-right: 0;
    }

    .menu-item-desktop {
      color: #fff ;
      font-size: 20px;
      text-decoration: none;
      transition: all 0.1s ease;
    }

    .menu-item-desktop:hover {
      border-bottom: 2px solid #f7f1e9ff;
      padding: 4px 0; 
    }

    .menu-item-desktop.active {
      border-bottom: 2px solid;
      padding: 4px 0; 
    }
    
    .contact-button {
      cursor: pointer;
      font-size: 20px;
      border-radius: 5px; 
      text-decoration: none;
      color: #329797;
      background-color: #f7f1e9ff;
      width: 150px; 
      border: none;
      padding: 0.5em;
      margin: 0;
      transition: box-shadow 0.2s;
    }
    .contact-button:hover {
      color: #f7f1e9ff;
      background-color: #329797;  
      border-color: 4px #f7f1e9ff;
      box-shadow: 0px 0px 0px 4px #f7f1e9ff;
    }
    
    .contact-button:focus {
      outline: none;
      border: none;
    }
}